In [30]:
import pandas as pd
import numpy as np
import faiss
import os

In [71]:
df = pd.read_pickle("./hnsw_all_cluster.pkl")

In [118]:
len(df)

10126

In [72]:
df.head(1)

,image_name,image_dir,results,image_features,cluster_id
0,g1327_czcqbl6.jpg,/nethome/kravicha3/aryan/project/dataset/Reddi...,"[1, 8887, 1415, 2028, 8885, 9459, 4633, 8590, ...","[[0.7295329, 0.30392087, 0.7336758, 0.41025618...",151

In [73]:
df['cluster_id']

0        151
1         13
2         69
3         69
4        154
        ...
10121    105
10122     26
10123     61
10124     61
10125     61
Name: cluster_id, Length: 10126, dtype: int64

In [60]:
# features from the dataframe
df = pd.read_pickle('hnsw_all_image_results.pkl')
features = np.array(df['image_features'].to_list())
features = features.reshape(features.shape[0], features.shape[2])
# cluster training
ncentroids = 256
niter = 50
verbose = True
d = features.shape[1]
kmeans = faiss.Kmeans(d, ncentroids, niter=niter, verbose=verbose)
kmeans.train(features)

Clustering 10126 points in 2048D to 256 clusters, redo 1 times, 50 iterations
  Preprocessing in 0.01 s

331777.6875

### Get Label for Cluster ID

In [99]:
predictions_for_centroid = df[df['cluster_id'] == 4]
    
x = predictions_for_centroid['image_dir'].value_counts()
labels = []
for i in x.index:
    labels.append((os.path.split(i)[1], x[i]))

In [100]:
labels

[('_Sep_Blatter_after_a_protester_threw_money_at_him', 21),
 ('_Drawing_a_face_on_your_back_&amp;_reading_a_book', 1),
 ('_Kobe_Beef_Cube', 1)]

In [101]:
sum(x)

23

In [115]:
centroid_dataframe = pd.DataFrame(columns=["label", "num_correct", "num_total", "all_labels_list"])
for cluster_id in range(ncentroids):
    # maximum image_dir
    predictions_for_centroid = df[df['cluster_id'] == cluster_id]
    value_counts = predictions_for_centroid['image_dir'].value_counts()
    
    labels = list()
    for row_id in value_counts.index:
        labels.append((os.path.split(row_id)[1], value_counts[row_id]))
    
    centroid_dataframe.loc[len(centroid_dataframe.index)] = [labels[0][0], labels[0][1], sum(value_counts), labels]

In [116]:
centroid_dataframe

,label,num_correct,num_total,all_labels_list
0,_lunch_date_with_Lakers_girls_winner,1,1,"[(_lunch_date_with_Lakers_girls_winner, 1)]"
1,_Wombat_in_a_field,3,37,"[(_Wombat_in_a_field, 3), (_This_beautifully_l..."
2,_Tiger_standing_next_to_his_keeper,2,13,"[(_Tiger_standing_next_to_his_keeper, 2), (_Wo..."
3,_Cat_Sitting_at_a_Desk_in_School,4,8,"[(_Cat_Sitting_at_a_Desk_in_School, 4), (_My_f..."
4,_Sep_Blatter_after_a_protester_threw_money_at_him,21,23,[(_Sep_Blatter_after_a_protester_threw_money_a...
...,...,...,...,...
251,_Boy_in_his_cardboard_X_Wing,3,53,"[(_Boy_in_his_cardboard_X_Wing, 3), (_Airport_..."
252,_lunch_date_with_Lakers_girls_winner,37,37,"[(_lunch_date_with_Lakers_girls_winner, 37)]"
253,_A_man_standing_on_a_subway_vent,2,29,"[(_A_man_standing_on_a_subway_vent, 2), (_Cat_..."
254,_Kanye_West_caught_snoozing_at_the_baby_store,13,79,[(_Kanye_West_caught_snoozing_at_the_baby_stor...
255,_Weightlifter_jumping_up_after_a_successful_lift,13,94,[(_Weightlifter_jumping_up_after_a_successful_...

In [117]:
sum(centroid_dataframe['num_total'])

10126

In [119]:
sum(centroid_dataframe['num_correct'])

3270

In [120]:
sum(centroid_dataframe['num_correct'])/sum(centroid_dataframe['num_total'])

0.3229310685364408

# best examples

In [124]:
centroid_dataframe['accuracy'] = centroid_dataframe['num_correct']/centroid_dataframe['num_total']

In [125]:
centroid_dataframe

,label,num_correct,num_total,all_labels_list,accuracy
0,_lunch_date_with_Lakers_girls_winner,1,1,"[(_lunch_date_with_Lakers_girls_winner, 1)]",1.000000
1,_Wombat_in_a_field,3,37,"[(_Wombat_in_a_field, 3), (_This_beautifully_l...",0.081081
2,_Tiger_standing_next_to_his_keeper,2,13,"[(_Tiger_standing_next_to_his_keeper, 2), (_Wo...",0.153846
3,_Cat_Sitting_at_a_Desk_in_School,4,8,"[(_Cat_Sitting_at_a_Desk_in_School, 4), (_My_f...",0.500000
4,_Sep_Blatter_after_a_protester_threw_money_at_him,21,23,[(_Sep_Blatter_after_a_protester_threw_money_a...,0.913043
...,...,...,...,...,...
251,_Boy_in_his_cardboard_X_Wing,3,53,"[(_Boy_in_his_cardboard_X_Wing, 3), (_Airport_...",0.056604
252,_lunch_date_with_Lakers_girls_winner,37,37,"[(_lunch_date_with_Lakers_girls_winner, 37)]",1.000000
253,_A_man_standing_on_a_subway_vent,2,29,"[(_A_man_standing_on_a_subway_vent, 2), (_Cat_...",0.068966
254,_Kanye_West_caught_snoozing_at_the_baby_store,13,79,[(_Kanye_West_caught_snoozing_at_the_baby_stor...,0.164557
255,_Weightlifter_jumping_up_after_a_successful_lift,13,94,[(_Weightlifter_jumping_up_after_a_successful_...,0.138298

In [127]:
sorted_df = centroid_dataframe.sort_values(by='accuracy', ascending=False)

In [133]:
sorted_df[sorted_df['num_total']> 10].head(15)

,label,num_correct,num_total,all_labels_list,accuracy
67,_This_rainbow_woman_on_the_beach,25,25,"[(_This_rainbow_woman_on_the_beach, 25)]",1.000000
178,_News_interns_running_out_with_Supreme_Court_r...,33,33,[(_News_interns_running_out_with_Supreme_Court...,1.000000
187,_Jeremy_Clarkson_laughing_at_Chris_Evans,26,26,"[(_Jeremy_Clarkson_laughing_at_Chris_Evans, 26)]",1.000000
83,_Swedens_prime_minister_is_sad_and_left_out_wh...,30,30,[(_Swedens_prime_minister_is_sad_and_left_out_...,1.000000
40,Someone_suggested_I_post_this_here_Gf_sent_me_...,15,15,[(Someone_suggested_I_post_this_here_Gf_sent_m...,1.000000
201,_Ridiculously_photogenic_volleyball_player,19,19,"[(_Ridiculously_photogenic_volleyball_player, ...",1.000000
20,_An_angry_dog_standing_upright,18,18,"[(_An_angry_dog_standing_upright, 18)]",1.000000
147,_Canadian_PM_Justin_Trudeau_hesitating_to_shak...,60,60,[(_Canadian_PM_Justin_Trudeau_hesitating_to_sh...,1.000000
60,_Alexis_Ohanian_(CEO_and_founder_of_reddit)_ho...,23,23,[(_Alexis_Ohanian_(CEO_and_founder_of_reddit)_...,1.000000
250,_This_picture_of_a_man_with_a_beard_looking_st...,29,29,[(_This_picture_of_a_man_with_a_beard_looking_...,1.000000
252,_lunch_date_with_Lakers_girls_winner,37,37,"[(_lunch_date_with_Lakers_girls_winner, 37)]",1.000000
66,_A_Stack_of_Red-Eye_Tree_Frogs,20,20,"[(_A_Stack_of_Red-Eye_Tree_Frogs, 20)]",1.000000
245,_Emilia_Clarke's_reaction_to_Kristen_Wiig_play...,35,36,[(_Emilia_Clarke's_reaction_to_Kristen_Wiig_pl...,0.972222
12,_These_piles_of_spice_at_a_market_in_Marrakesh,28,29,[(_These_piles_of_spice_at_a_market_in_Marrake...,0.965517
86,_This_eagle_with_wings_spread,21,22,"[(_This_eagle_with_wings_spread, 21), (_Vladim...",0.954545

In [132]:
sorted_df[sorted_df['num_total']> 30].head(15)

,label,num_correct,num_total,all_labels_list,accuracy
178,_News_interns_running_out_with_Supreme_Court_r...,33,33,[(_News_interns_running_out_with_Supreme_Court...,1.000000
147,_Canadian_PM_Justin_Trudeau_hesitating_to_shak...,60,60,[(_Canadian_PM_Justin_Trudeau_hesitating_to_sh...,1.000000
252,_lunch_date_with_Lakers_girls_winner,37,37,"[(_lunch_date_with_Lakers_girls_winner, 37)]",1.000000
245,_Emilia_Clarke's_reaction_to_Kristen_Wiig_play...,35,36,[(_Emilia_Clarke's_reaction_to_Kristen_Wiig_pl...,0.972222
220,Kid_running_from_guy_in_mankini,39,41,"[(Kid_running_from_guy_in_mankini, 39), (_Ewan...",0.951220
153,_The_Supreme_Leader_wears_a_fedora_and_gives_a...,34,36,[(_The_Supreme_Leader_wears_a_fedora_and_gives...,0.944444
100,_Sad_old_man_wearing_a_cap_with_obscene_langua...,31,33,[(_Sad_old_man_wearing_a_cap_with_obscene_lang...,0.939394
68,_These_squirrels_fighting,41,44,"[(_These_squirrels_fighting, 41), (_Wombat_in_...",0.931818
41,_Penguin_posing_in_front_of_a_ship,34,38,"[(_Penguin_posing_in_front_of_a_ship, 34), (_A...",0.894737
235,_North_Korea's_New_Untouched_Photo_of_Kim_Jong-Un,31,35,[(_North_Korea's_New_Untouched_Photo_of_Kim_Jo...,0.885714
214,_A_pawn_looking_in_the_mirror,45,52,"[(_A_pawn_looking_in_the_mirror, 45), (_A_dehy...",0.865385
174,_Poorly_Drawn_Wikihow_Family,36,42,"[(_Poorly_Drawn_Wikihow_Family, 36), (_News_in...",0.857143
33,_This_picture_of_Hillary_Clinton_and_Barack_Obama,34,40,[(_This_picture_of_Hillary_Clinton_and_Barack_...,0.850000
76,_Norm_MacDonald_as_the_New_Colonel_Sanders,33,39,"[(_Norm_MacDonald_as_the_New_Colonel_Sanders, ...",0.846154
97,_Mount_Etna_Eruption,39,47,"[(_Mount_Etna_Eruption, 39), (_Airport_securit...",0.829787

In [134]:
sorted_df[sorted_df['num_total']> 50].head(15)

,label,num_correct,num_total,all_labels_list,accuracy
147,_Canadian_PM_Justin_Trudeau_hesitating_to_shak...,60,60,[(_Canadian_PM_Justin_Trudeau_hesitating_to_sh...,1.000000
214,_A_pawn_looking_in_the_mirror,45,52,"[(_A_pawn_looking_in_the_mirror, 45), (_A_dehy...",0.865385
160,_You_Catch_Your_Roommate_With_His_Pants_Down,43,52,[(_You_Catch_Your_Roommate_With_His_Pants_Down...,0.826923
145,_A_selfie_from_the_driver_of_the_Pope,39,54,"[(_A_selfie_from_the_driver_of_the_Pope, 39), ...",0.722222
130,_This_teacher_from_my_Facebook_feed,43,67,"[(_This_teacher_from_my_Facebook_feed, 43), (_...",0.641791
231,_Streaker_stealing_the_show_at_a_Tennis_game,36,60,[(_Streaker_stealing_the_show_at_a_Tennis_game...,0.600000
70,_Two_People_Looking_At_Nice_View,32,54,"[(_Two_People_Looking_At_Nice_View, 32), (_Gir...",0.592593
142,_Trump_trying_to_close_his_pen,44,82,"[(_Trump_trying_to_close_his_pen, 44), (_Adam_...",0.536585
110,_Bernie_Sanders_browsing_reddit,43,93,"[(_Bernie_Sanders_browsing_reddit, 43), (_A_ba...",0.462366
196,_Tiger_standing_next_to_his_keeper,34,74,"[(_Tiger_standing_next_to_his_keeper, 34), (_D...",0.459459
81,_Happy_dude_with_his_grumpy_pug,32,72,"[(_Happy_dude_with_his_grumpy_pug, 32), (_2016...",0.444444
152,_A_baby_turtle_tucked_away_in_its_shell,24,54,"[(_A_baby_turtle_tucked_away_in_its_shell, 24)...",0.444444
58,_Stephen_Colbert_with_a_drink_on_the_bus,21,58,"[(_Stephen_Colbert_with_a_drink_on_the_bus, 21...",0.362069
112,_Perfectly_round_snowball,20,56,"[(_Perfectly_round_snowball, 20), (_Japanese_a...",0.357143
61,_Man_observing_an_oil_painting_of_himself,31,91,"[(_Man_observing_an_oil_painting_of_himself, 3...",0.340659

### Getting nearest points to cluster centroid

In [61]:
index_cluster = faiss.IndexFlatL2 (d)
index_cluster.add(features)
D, I = index_cluster.search(kmeans.centroids, 100)

In [62]:
I.shape

(256, 100)

In [63]:
centroid_labels = []
for centroid_id in range(I.shape[0]):
    label = {}
    for label_id in I[centroid_id]:
        thread_dir = df.iloc[label_id]['image_dir']
        thread_dir = os.path.split(thread_dir)[1]
        if thread_dir in label:
            label[thread_dir] += 1
        else:
            label[thread_dir] = 1
    centroid_labels.append(label)

In [64]:
len(centroid_labels)

256

In [65]:
centroid_num_threads = []
for centroid_id in range(len(centroid_labels)):
    max_n = 0
    max_l = ""
    for i in centroid_labels[centroid_id]:
        num = centroid_labels[centroid_id][i]
        if num>max_n:
            max_n = num
            max_l = i
    centroid_num_threads.append((max_n, max_l))

In [66]:
centroid_num_threads

[(27, '_Streaker_stealing_the_show_at_a_Tennis_game'),
 (15, '_You_Catch_Your_Roommate_With_His_Pants_Down'),
 (14, '_Headless_hockey_player_and_terrified_referee'),
 (17, '_Cat_Sitting_at_a_Desk_in_School'),
 (25, '_Sep_Blatter_after_a_protester_threw_money_at_him'),
 (34, '_Foggy_day'),
 (40, '_These_squirrels_fighting'),
 (9, '_Headless_hockey_player_and_terrified_referee'),
 (21, '_Dog_wearing_a_mask_at_a_dino_park'),
 (13, '_Weightlifter_jumping_up_after_a_successful_lift'),
 (20, '_Man_driving_his_Tricer-a-car'),
 (17, '_Group_of_Shaved_Llamas'),
 (29, '_These_piles_of_spice_at_a_market_in_Marrakesh'),
 (23, '_LeBron_James_holding_a_trophy'),
 (29, '_Man_observing_an_oil_painting_of_himself'),
 (22, '_Headless_hockey_player_and_terrified_referee'),
 (15, '_Headless_hockey_player_and_terrified_referee'),
 (7, '_This_teacher_from_my_Facebook_feed'),
 (19, '_Palestinian_man_taking_selfie_while_Israeli_police_chase_him'),
 (17, '_Adam_Savage_after_his_morning_workout'),
 (22, '_This_surprised_racoon'),
 (25, "_North_Korea's_New_Untouched_Photo_of_Kim_Jong-Un"),
 (23, '_Runners_crossing_the_finish_line'),
 (28, '_Time_slice_photography_of_the_Moon_rising_over_Los_Angeles'),
 (31, '_Headless_hockey_player_and_terrified_referee'),
 (14, "_Marilyn_Monroe's_first_modeling_photo_(1946)"),
 (21, '_Headless_hockey_player_and_terrified_referee'),
 (9, '_Adam_Savage_after_his_morning_workout'),
 (22, '_Headless_hockey_player_and_terrified_referee'),
 (43, "_Canadian_PM_Justin_Trudeau_hesitating_to_shake_Donald_Trump's_hand"),
 (18,
  '_Roller-blading_girl_in_shorts_getting_checked_out_by_cyclist_police_officer'),
 (21, '_LeBron_James_holding_a_trophy'),
 (23, '_Headless_hockey_player_and_terrified_referee'),
 (36, '_This_picture_of_Hillary_Clinton_and_Barack_Obama'),
 (5, '_Man_with_a_very_long_carrot'),
 (16, '_Margot_Robbie_excited_at_a_hockey_game'),
 (7, '_Donald_Trump_in_a_Bathrobe'),
 (9,
  'Finally,_I_found_a_sub_that_photoshops_battles_Can_someone_photoshop_a_battle_onto_this_epic_landscape?'),
 (12, '_A_Stack_of_Red-Eye_Tree_Frogs'),
 (30, '_Burrowing_Owls_spot_a_camera'),
 (21, '_A_baby_turtle_tucked_away_in_its_shell'),
 (35, '_Penguin_posing_in_front_of_a_ship'),
 (8, '_Carrie_Fisher_as_Slave_Leia_in_the_ocean'),
 (17, '_This_surprised_racoon'),
 (16, '_Hand_of_God_over_Portugal'),
 (17, '_This_beautifully_lined_up_eight_headed_selfie'),
 (25, '_LeBron_James_holding_a_trophy'),
 (18, '_Poorly_Drawn_Wikihow_Family'),
 (20, '_Headless_hockey_player_and_terrified_referee'),
 (19, '_This_guy_dancing'),
 (7, '_This_surprised_racoon'),
 (34, "_Canadian_PM_Justin_Trudeau_hesitating_to_shake_Donald_Trump's_hand"),
 (20, '_This_happy_family'),
 (20, '_Headless_hockey_player_and_terrified_referee'),
 (4, '_Headless_hockey_player_and_terrified_referee'),
 (17, '_Trump_trying_to_close_his_pen'),
 (21, '_This_beautifully_lined_up_eight_headed_selfie'),
 (16, '_News_interns_running_out_with_Supreme_Court_ruling_on_gay-marriage'),
 (25, '_LeBron_James_holding_a_trophy'),
 (19, '_This_guy_dancing'),
 (24, '_Alexis_Ohanian_(CEO_and_founder_of_reddit)_holding_a_sign'),
 (33, '_Man_observing_an_oil_painting_of_himself'),
 (22, '_This_surprised_racoon'),
 (10, '_Headless_hockey_player_and_terrified_referee'),
 (11, '_This_Nutella_stick_with_great_hair'),
 (8, '_Two_People_Looking_At_Nice_View'),
 (22, '_A_Stack_of_Red-Eye_Tree_Frogs'),
 (25, '_This_rainbow_woman_on_the_beach'),
 (44, '_These_squirrels_fighting'),
 (17,
  '_Roller-blading_girl_in_shorts_getting_checked_out_by_cyclist_police_officer'),
 (33, '_Two_People_Looking_At_Nice_View'),
 (28, "_Cat_outside_in_the_snow,_posing_with_it's_paw_on_it's_chest"),
 (29, '_This_Nutella_stick_with_great_hair'),
 (26, "_Basketball_Kid_doesn't_know_what_he's_doing"),
 (17, '_Headless_hockey_player_and_terrified_referee'),
 (13, '_This_smiling_bear_enjoying_the_scenery'),
 (35, '_Norm_MacDonald_as_the_New_Colonel_Sanders'),
 (9, '_Headless_hockey_player_and_terrified_referee'),
 (23, '_This_eggplant_with_arms'),
 (20, '_Trump_trying_to_close_his_pen'),
 (25, '_Fox_having_a_go_in_front_of_a_camera'),
 (31, '_Happy_dude_with_his_grumpy_pug'),
 (34, '_Tiger_standing_next_to_his_keeper'),
 (31,
  '_Swedens_prime_minister_is_sad_and_left_out_while_other_party_leaders_having_fun_during_congress'),
 (32, "_Cat_outside_in_the_snow,_posing_with_it's_paw_on_it's_chest"),
 (32,
  '_An_elderly_woman_observes_a_young_topless_woman_wearing_body_paint_in_Times_Square_(NSFW)'),
 (23, '_This_eagle_with_wings_spread'),
 (20, '_Headless_hockey_player_and_terrified_referee'),
 (11, '_This_guy_dancing'),
 (19, '_Girl_holding_a_Toblerone_creating_optical_illusion'),
 (22, '_Headless_hockey_player_and_terrified_referee'),
 (4, '_This_eagle_with_wings_spread'),
 (24, 'Otter_running_towards_camera'),
 (17, 'A_seal_with_a_data-logger_on_its_head_(x-post_from_r_funny)'),
 (13, '_A_low-flying_kestrel_in_mid-flap'),
 (24, '_LeBron_James_holding_a_trophy'),
 (13, '_Dog_with_Cat_mask'),
 (42, '_Mount_Etna_Eruption'),
 (7,
  '_An_elderly_woman_observes_a_young_topless_woman_wearing_body_paint_in_Times_Square_(NSFW)'),
 (18, '_Headless_hockey_player_and_terrified_referee'),
 (33, '_Sad_old_man_wearing_a_cap_with_obscene_language_on_it'),
 (36, '_This_teacher_from_my_Facebook_feed'),
 (32, 'Otter_running_towards_camera'),
 (21, '_Shocked_Classic_Goofy'),
 (16, '_Headless_hockey_player_and_terrified_referee'),
 (25, '_Man_observing_an_oil_painting_of_himself'),
 (4, '_Albino_squirrel_leaning_on_a_screw'),
 (38, '_Mount_Etna_Eruption'),
 (31, '_Man_with_a_very_long_carrot'),
 (16, '_This_surprised_racoon'),
 (40, '_Bernie_Sanders_browsing_reddit'),
 (33,
  'Finally,_I_found_a_sub_that_photoshops_battles_Can_someone_photoshop_a_battle_onto_this_epic_landscape?'),
 (21, '_Perfectly_round_snowball'),
 (11, '_Palestinian_man_taking_selfie_while_Israeli_police_chase_him'),
 (30, '_Two_People_Looking_At_Nice_View'),
 (21, '_This_happy_family'),
 (17, "_This_kid's_face_in_a_magnifying_plate"),
 (7, '_Drinking_Poop_Water'),
 (15, '_Trump_trying_to_close_his_pen'),
 (19, '_Headless_hockey_player_and_terrified_referee'),
 (44, '_You_Catch_Your_Roommate_With_His_Pants_Down'),
 (33, '_This_picture_of_a_man_with_a_beard_looking_straight_up'),
 (16, '_Dog_with_Cat_mask'),
 (18, '_Headless_hockey_player_and_terrified_referee'),
 (7, '_This_man_sleeping_in_the_office_in_front_of_his_colleagues'),
 (39, '_Bernie_Sanders_browsing_reddit'),
 (33, '_Robert_Downey,_Jr_getting_his_license_picture_taken_at_the_DMV'),
 (22, '_This_surprised_racoon'),
 (23, '_This_happy_family'),
 (21, '_Headless_hockey_player_and_terrified_referee'),
 (41, '_This_teacher_from_my_Facebook_feed'),
 (30, '_Man_holding_confused_dog'),
 (14, '_Cheering_hedgehog_(xpost_from_r_aww)'),
 (14,
  '_Hi-res,_non-watermarked_image_of_Harold_the_stock_photo_model_giving_a_thumbs_up'),
 (18, '_Headless_hockey_player_and_terrified_referee'),
 (24, '_Fox_having_a_go_in_front_of_a_camera'),
 (20, '_Stephen_Colbert_with_a_drink_on_the_bus'),
 (17, '_Headless_hockey_player_and_terrified_referee'),
 (25, '_Poorly_Drawn_Wikihow_Family'),
 (28, '_Perplexed_Bill_Nye'),
 (22, '_Foggy_day'),
 (11, '_Kid_who_forgot_to_add_water_to_his_cup_noodles'),
 (44, '_Trump_trying_to_close_his_pen'),
 (8, '_LeBron_James_holding_a_trophy'),
 (6, '_Cat_flowing_down_a_sofa'),
 (37, '_A_selfie_from_the_driver_of_the_Pope'),
 (10, '_Palestinian_man_taking_selfie_while_Israeli_police_chase_him'),
 (62, "_Canadian_PM_Justin_Trudeau_hesitating_to_shake_Donald_Trump's_hand"),
 (27, '_Streaker_stealing_the_show_at_a_Tennis_game'),
 (10, '_Weightlifter_jumping_up_after_a_successful_lift'),
 (23, '_This_surprised_racoon'),
 (24, '_Bride_cutting_through_her_chastity_belt'),
 (23, '_LeBron_James_holding_a_trophy'),
 (34, '_The_Supreme_Leader_wears_a_fedora_and_gives_a_dancing_lesson'),
 (30, '_Man_observing_an_oil_painting_of_himself'),
 (21, '_Headless_hockey_player_and_terrified_referee'),
 (34, "_Basketball_Kid_doesn't_know_what_he's_doing"),
 (13, '_Cat_Sitting_at_a_Desk_in_School'),
 (15, '_Pole_Vault_winner_in_the_air'),
 (25, '_Headless_hockey_player_and_terrified_referee'),
 (43, '_You_Catch_Your_Roommate_With_His_Pants_Down'),
 (12, '_Hand_of_God_over_Portugal'),
 (14, '_Headless_hockey_player_and_terrified_referee'),
 (57, "_Canadian_PM_Justin_Trudeau_hesitating_to_shake_Donald_Trump's_hand"),
 (12, '_Headless_hockey_player_and_terrified_referee'),
 (26, '_This_teacher_from_my_Facebook_feed'),
 (6,
  '_Hi-res,_non-watermarked_image_of_Harold_the_stock_photo_model_giving_a_thumbs_up'),
 (8, '_Poorly_Drawn_Wikihow_Family'),
 (25, '_Runners_crossing_the_finish_line'),
 (8, '_Dressed_up_church_in_the_Netherlands'),
 (24, '_This_surprised_racoon'),
 (25, '_Palestinian_man_taking_selfie_while_Israeli_police_chase_him'),
 (11, '_Monkey_holding_3_knives'),
 (20, '_Trump_trying_to_close_his_pen'),
 (35, '_Poorly_Drawn_Wikihow_Family'),
 (25, '_Man_observing_an_oil_painting_of_himself'),
 (11, '_This_surprised_racoon'),
 (15,
  '_Will_Ferrell_hits_an_NBA_cheerleader_in_the_face_with_a_basketball_during_a_movie_shoot'),
 (36, '_News_interns_running_out_with_Supreme_Court_ruling_on_gay-marriage'),
 (5, '_A_Blue_Swimmer_Crab_showing_off_his_claws'),
 (13, '_Drawing_a_face_on_your_back_&amp;_reading_a_book'),
 (17, '_Man_driving_his_Tricer-a-car'),
 (18, '_Headless_hockey_player_and_terrified_referee'),
 (16, '_A_New_Zealand_Lamb'),
 (14, '_Drinking_Poop_Water'),
 (28, '_Palestinian_man_taking_selfie_while_Israeli_police_chase_him'),
 (5, '_Boy_in_his_cardboard_X_Wing'),
 (27, '_Jeremy_Clarkson_laughing_at_Chris_Evans'),
 (21, '_This_surprised_racoon'),
 (29, "_Cat_outside_in_the_snow,_posing_with_it's_paw_on_it's_chest"),
 (16, '_Posing_Monkey'),
 (28, '_Streaker_stealing_the_show_at_a_Tennis_game'),
 (18, '_a_frog_riding_a_beetle'),
 (13, '_A_basket_ball_that_has_been_sprayed_with_Vanta_black'),
 (17, '_a_frog_riding_a_beetle'),
 (16, '_Bunny_Bathed_in_Light'),
 (34, '_Tiger_standing_next_to_his_keeper'),
 (35, "_Canadian_PM_Justin_Trudeau_hesitating_to_shake_Donald_Trump's_hand"),
 (19, '_LeBron_James_holding_a_trophy'),
 (21, '_LeBron_James_holding_a_trophy'),
 (34, '_Man_observing_an_oil_painting_of_himself'),
 (35,
  "_Emilia_Clarke's_reaction_to_Kristen_Wiig_playing_Khaleesi_on_Tonight_with_Jimmy_Fallon"),
 (22, '_Headless_hockey_player_and_terrified_referee'),
 (10, '_No_Vladimir,_you_hang_up_first'),
 (23, '_This_ridiculously_photogenic_neanderthal'),
 (6, '_This_teacher_from_my_Facebook_feed'),
 (20, '_Headless_hockey_player_and_terrified_referee'),
 (8, '_This_eagle_with_wings_spread'),
 (32, '_This_picture_of_a_man_with_a_beard_looking_straight_up'),
 (18, '_This_surprised_racoon'),
 (16, '_This_surprised_racoon'),
 (8, '_Dog_with_Cat_mask'),
 (17, '_Headless_hockey_player_and_terrified_referee'),
 (33, '_Palestinian_man_taking_selfie_while_Israeli_police_chase_him'),
 (45, '_A_pawn_looking_in_the_mirror'),
 (17, '_Happy_dog_looking_upward'),
 (13, '_Headless_hockey_player_and_terrified_referee'),
 (7, '_Palestinian_man_taking_selfie_while_Israeli_police_chase_him'),
 (17, '_Headless_hockey_player_and_terrified_referee'),
 (35, '_Mount_Etna_Eruption'),
 (39, 'Kid_running_from_guy_in_mankini'),
 (15, '_Dog_wearing_a_mask_at_a_dino_park'),
 (8, '_These_piles_of_spice_at_a_market_in_Marrakesh'),
 (7,
  "Someone_suggested_I_post_this_here_Gf_sent_me_it_while_she's_on_vacation"),
 (25, '_LeBron_James_holding_a_trophy'),
 (15, '_News_interns_running_out_with_Supreme_Court_ruling_on_gay-marriage'),
 (20, '_LeBron_James_holding_a_trophy'),
 (18, '_This_beautifully_lined_up_eight_headed_selfie'),
 (11,
  "_Australia's_Immigration_minister_Peter_Dutton_wants_this_photo_removed"),
 (9, '_Dressed_up_church_in_the_Netherlands'),
 (25, '_LeBron_James_holding_a_trophy'),
 (36, '_Streaker_stealing_the_show_at_a_Tennis_game'),
 (20, '_LeBron_James_holding_a_trophy'),
 (28, '_Runners_crossing_the_finish_line'),
 (16,
  '_Roller-blading_girl_in_shorts_getting_checked_out_by_cyclist_police_officer'),
 (31, "_North_Korea's_New_Untouched_Photo_of_Kim_Jong-Un"),
 (7, '_Donald_Trump_in_a_Bathrobe'),
 (18, '_LeBron_James_holding_a_trophy'),
 (16, '_Bernie_Sanders_holding_a_cat'),
 (22, '_Kid_who_forgot_to_add_water_to_his_cup_noodles'),
 (17, '_Charles_in_chocolate_factory'),
 (24, '_This_happy_family'),
 (13, '_Jeb_Bush_Getting_Felt-Up_at_a_Rally'),
 (13,
  '_Obama_wielding_a_lightsaber_in_front_of_the_White_House_while_others_look_on'),
 (21, '_Headless_hockey_player_and_terrified_referee'),
 (36,
  "_Emilia_Clarke's_reaction_to_Kristen_Wiig_playing_Khaleesi_on_Tonight_with_Jimmy_Fallon"),
 (8, '_Headless_hockey_player_and_terrified_referee'),
 (26, '_Girl_holding_a_Toblerone_creating_optical_illusion'),
 (25, '_This_teacher_from_my_Facebook_feed'),
 (22, '_Alexis_Ohanian_(CEO_and_founder_of_reddit)_holding_a_sign'),
 (34, '_This_picture_of_a_man_with_a_beard_looking_straight_up'),
 (10, '_Trump_trying_to_close_his_pen'),
 (38, '_lunch_date_with_Lakers_girls_winner'),
 (10,
  '_Hi-res,_non-watermarked_image_of_Harold_the_stock_photo_model_giving_a_thumbs_up'),
 (23, '_Headless_hockey_player_and_terrified_referee'),
 (22, '_Headless_hockey_player_and_terrified_referee')]

In [67]:
temp = set()
for i in centroid_num_threads:
    temp.add(i[1])
len(temp)

108

### Recall